In [1]:
from math import floor

with open("day_4_test.txt") as f:
    cards = f.readlines()

def process_line(game_line):
    games = game_line.split(":")[1].split("|")

    winning_numbers = games[0].split()
    numbers =  games[1].split()

    matched_winners = set(winning_numbers).intersection(set(numbers))

    return floor(2**(len(matched_winners)-1))


sum([process_line(card) for card in cards])

13

In [2]:
with open("day_4.txt") as f:
    cards = f.readlines()

sum([process_line(card) for card in cards])

32001

In [ ]:
# from dataclasses import dataclass

# @dataclass
# class card(line):
#     id = extract_id(line)
#     outcome = process_line(line)
#     current_number =  0
#     previously_held = 0 

# @dataclass
# class card_stack(cards):
#     stack = cards

#     def process_stack(self):
#         for card in self.stack:
#             if card.current_number > 0:
#                 results.






# def process_stack()
#     # collect the winning cards
#     for card in stack 
#         get_winners
#         allocate_winners
#     return list_of_news_cards

# def discard_cards(current_stack)
#     # count the cards up and throw them away
#     total_cards = total_cards + sum(current_stack)


    
# def process_line(game_line):

card_id | winners | used_cards | current_cards | future_cards 


apply_all_winners creating future cards 
user_cards = current_cards 
current_cards = future_cards 
future_cards = 0 

repeat until sum(current_cards) == 0

In [81]:
import pandas as pd

def get_winners(win, num, card_number):
    matched_winners = set(win.split()).intersection(set(num.split()))
    return [i for i in range(card_number+1, card_number+len(matched_winners)+1)]

def add_winners(win, scale):
    cards.loc[win, 'future'] = cards.loc[win, 'future'] + 1*scale

cards = pd.read_csv("day_4.txt", sep=r":|\|", engine='python', header=None)
cards.columns = ['card_number', 'winning_numbers', 'numbers']
cards['card_number']= cards.card_number.str.extract(r"(\d+)")[0].astype(int)
cards.set_index('card_number', inplace=True, drop=False)

cards['winners'] = cards.apply(lambda x: get_winners(x.winning_numbers, x.numbers, x.card_number), axis=1)

cards["used"] = 0
cards["current"] = 1 
cards["future"] = 0

while cards['current'].sum() > 0:
    cards.apply(lambda x: add_winners(x.winners, x.current), axis=1)
    cards['used'] = cards['used'] + cards['current']
    cards['current'] = cards['future']
    cards['future'] = 0
    print(f"Currently have {cards.used.sum()} cards")

,card_number,winning_numbers,numbers
card_number,,,
1,1,75 68 35 36 86 83 30 11 14 59,86 25 63 57 59 91 68 14 72 32 36 74 66 44 30 ...
2,2,49 62 66 89 53 16 59 19 58 99,99 29 21 59 53 66 1 77 15 92 98 23 9 49 75 ...
3,3,37 77 5 90 41 15 46 27 38 53,47 27 41 90 77 53 65 50 69 72 37 91 9 31 67 ...
4,4,97 24 29 70 37 95 83 78 66 19,24 44 21 29 39 51 78 79 66 97 19 88 89 35 83 ...
5,5,41 58 67 35 33 36 73 70 64 55,93 29 77 60 56 35 68 53 2 55 3 92 81 78 8 ...
...,...,...,...
219,219,54 44 11 57 83 94 25 28 97 17,85 67 90 89 6 87 48 77 4 5 56 26 94 17 82 ...
220,220,20 72 33 25 54 39 34 56 51 27,67 33 87 5 71 29 97 72 21 46 41 13 98 47 38 ...
221,221,30 16 95 71 10 63 36 2 57 48,25 84 18 8 68 47 58 5 4 33 40 99 70 45 21 ...
222,222,60 34 77 64 92 54 58 78 33 1,20 85 7 17 2 66 70 84 42 29 87 44 43 12 95 ...
223,223,76 93 82 50 99 57 92 1 54 3,2 4 27 7 98 95 77 65 41 91 97 73 67 72 32 ...

,card_number,winning_numbers,numbers,winners,used,current,future
card_number,,,,,,,
1,1,75 68 35 36 86 83 30 11 14 59,86 25 63 57 59 91 68 14 72 32 36 74 66 44 30 ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",0,1,0
2,2,49 62 66 89 53 16 59 19 58 99,99 29 21 59 53 66 1 77 15 92 98 23 9 49 75 ...,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]",0,1,0
3,3,37 77 5 90 41 15 46 27 38 53,47 27 41 90 77 53 65 50 69 72 37 91 9 31 67 ...,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]",0,1,0
4,4,97 24 29 70 37 95 83 78 66 19,24 44 21 29 39 51 78 79 66 97 19 88 89 35 83 ...,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",0,1,0
5,5,41 58 67 35 33 36 73 70 64 55,93 29 77 60 56 35 68 53 2 55 3 92 81 78 8 ...,"[6, 7, 8, 9, 10]",0,1,0
...,...,...,...,...,...,...,...
219,219,54 44 11 57 83 94 25 28 97 17,85 67 90 89 6 87 48 77 4 5 56 26 94 17 82 ...,"[220, 221, 222]",0,1,0
220,220,20 72 33 25 54 39 34 56 51 27,67 33 87 5 71 29 97 72 21 46 41 13 98 47 38 ...,"[221, 222]",0,1,0
221,221,30 16 95 71 10 63 36 2 57 48,25 84 18 8 68 47 58 5 4 33 40 99 70 45 21 ...,[],0,1,0
222,222,60 34 77 64 92 54 58 78 33 1,20 85 7 17 2 66 70 84 42 29 87 44 43 12 95 ...,[],0,1,0
223,223,76 93 82 50 99 57 92 1 54 3,2 4 27 7 98 95 77 65 41 91 97 73 67 72 32 ...,[],0,1,0

Currently have 223 cards
Currently have 1258 cards
Currently have 5841 cards
Currently have 23040 cards
Currently have 75781 cards
Currently have 206821 cards
Currently have 473611 cards
Currently have 925754 cards
Currently have 1571761 cards
Currently have 2355981 cards
Currently have 3167286 cards
Currently have 3881800 cards
Currently have 4415209 cards
Currently have 4750462 cards
Currently have 4926227 cards
Currently have 5002149 cards
Currently have 5028708 cards
Currently have 5036046 cards
Currently have 5037587 cards
Currently have 5037818 cards
Currently have 5037840 cards
Currently have 5037841 cards